<!-- Footer -->

<footer>
    <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-dark mt-5">
        <div class="text-white mb-3 mb-md-0 ">
            © Copyright Antioqueña de Porcinos 2022. Todos los derechos reservados.
        </div>
  
        <div>
            <a href="https://es-la.facebook.com/porcicarnes.co/" target="_blank" target="_blank" class="text-white me-4">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/porcicarnes.co/?hl=es" target="_blank" target="_blank" class="text-white me-4">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.porcicarnes.com/" target="_blank" target="_blank" class="text-white me-4">
                <i class="fab fa-google"></i>
            </a>
        </div>
    </div>
</footer>